/* src/App.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #31708f;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

input,
textarea {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #34495e;
  color: white;
}

/* Specific styling for placeholders in the input and textarea */
input::placeholder,
textarea::placeholder {
  color: white; /* Ensures white placeholder text */
  font-size: 16px; /* Matches the font size of the input and textarea */
  opacity: 1; /* Makes the placeholder text fully visible */
}

/* General button styling */
button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
}

button:hover {
  background-color: #2980b9;
}

textarea {
  resize: none;
}
